<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>메인화면</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="header_top">
				<div class="w_inner">
					{% if not logineduser %}
						<a href="/bookL/login" class="link_txt">로그인/회원가입</a>
					{% else %}
						<a href= "/bookL/logout"  class="link_txt">로그아웃</a>
					 {% endif %}
					<a href="#none" class="link_txt">내상점</a>
				</div>
			</div>
			<div class="header_cont">
				<div class="w_inner">
					<!-- 로고 -->
					<h1 class="logo_tit"><a href="/bookL/" class="link_home">BOOK XXXXX</a></h1>
					<!-- 검색창 -->
					<div class="box_search">
						<form action="{% url 'search' %}" method="GET" >
							<fieldset>
								<legend class="blind">검색하기</legend>
								<div class="search_area">
									<input type="text" class="input" placeholder="검색어를 입력해주세요." name=”title”/>
									<button type="submit" class="btn_search"><span class="blind">검색</span></button>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="wrap_utils">
						{% if user.is_authenticated %}
						<button class="btn_util"><span class="ico_comm ico_sell"></span><a href="{% url 'pC' %}">판매하기</a></button>
						{% endif %}
						<button class="btn_util"><span class="ico_comm ico_chat"></span>XX톡</button>
					</div>
				</div>
			</div>
		</header>
		<main class="contents">
			<div class="w_inner">
				<div class="wrap_banenr">
					<img src="/static/Main.jpg" width="1100" height="700">


				</div>
			</div>
		</main>
	</div>
</body>

</html>