<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>메인화면</title>
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="header_top">
				<div class="w_inner">
					{% if not logineduser %}
						<a href="/bookL/login" class="link_txt">로그인/회원가입</a>
					{% else %}
						<a href= "/bookL/logout"  class="link_txt">로그아웃</a>
						<a href="/bookL/mypage" class="link_txt">내상점</a>
					{% endif %}
				</div>
			</div>
			<div class="header_cont">
				<div class="w_inner">
					<!-- 로고 -->
					<h1 class="logo_tit"><a href="/bookL/" class="link_home">야 너두</a></h1>
					<!-- 검색창 -->
					<div class="box_search">
						<form action="{% url 'search' %}" method="GET" >
							<fieldset>
								<legend class="blind">검색하기</legend>
								<div class="search_area">
									<input type="text" class="input" placeholder="검색어를 입력해주세요." name="title">
									<button type="submit" class="btn_search"><span class="blind">검색</span></button>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="wrap_utils">
						{% if user.is_authenticated %}
						<button class="btn_util"><span class="ico_comm ico_sell"></span><a href="{% url 'pC' %}">판매하기</a></button>
						{% endif %}
						<button class="btn_util"><span class="ico_comm ico_chat"></span>XX톡</button>
					</div>
				</div>
			</div>
		</header>
		<br>
		<main class="contents">
			<div class="w_inner">
				<div class="wrap_banenr">
					<img class="slide1" src="/static/Main.jpg" width="900" height="600">
					<img class="slide1" src="/static/Main2.jpg" width="900" height="600">
					<img class="slide1" src="/static/Main3.jpg" width="900" height="600">


				</div>
			</div>
		</main>
	</div>
</body>
<script>
    var index = 0;   //이미지에 접근하는 인덱스
    window.onload = function(){
        slideShow();
    }

    function slideShow() {
    var i;
    var x = document.getElementsByClassName("slide1");  //slide1에 대한 dom 참조
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";   //처음에 전부 display를 none으로 한다.
    }
    index++;
    if (index > x.length) {
        index = 1;  //인덱스가 초과되면 1로 변경
    }
    x[index-1].style.display = "block";  //해당 인덱스는 block으로
    setTimeout(slideShow, 6000);   //함수를 4초마다 호출

}
</script>
</html>