<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BOOK XXXXX</title>
	<link rel="stylesheet" href="./css/common.css">
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="header_top">
				<div class="w_inner">
					<a href="#none" class="link_txt">로그인/회원가입</a>
					<a href="#none" class="link_txt">내상점</a>
				</div>
			</div>
			<div class="header_cont">
				<div class="w_inner">
					<!-- 로고 -->
					<h1 class="logo_tit"><a href="#none" class="link_home">BOOK XXXXX</a></h1>
					<!-- 검색창 -->
					<div class="box_search">
						<form action="#">
							<fieldset>
								<legend class="blind">검색하기</legend>
								<div class="search_area">
									<input type="text" class="input" placeholder="검색어를 입력해주세요.">
									<button type="submit" class="btn_search"><span class="blind">검색</span></button>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="wrap_utils">
						<button class="btn_util"><span class="ico_comm ico_sell"></span>판매하기</button>
						<button class="btn_util"><span class="ico_comm ico_chat"></span>XX톡</button>
					</div>
				</div>
			</div>
		</header>
		<main class="contents">
			<div class="w_inner">
				<div class="wrap_banenr">
					<img src="dd.jpg" width="1100" height="700">


				</div>
			</div>
		</main>
	</div>
</body>

</html>