<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>야 너두</title>
	<link rel="stylesheet" href="/static/css/mypage.css">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
	<script src="/static/js/common.ui.js"></script>
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="header_top">
				<div class="w_inner">
					{% if not user.is_authenticated %}
						<a href="/bookL/login" class="link_txt">로그인/회원가입</a>
					{% else %}
						<a href= "/bookL/logout"  class="link_txt">로그아웃</a>
						<a href="/bookL/mypage" class="link_txt">내상점</a>
					{% endif %}
				</div>
			</div>
			<div class="header_cont">
				<div class="w_inner">
					<!-- 로고 -->
					<h1 class="logo_tit"><a href="/bookL/" class="link_home">야 너두</a></h1>
					<!-- 검색창 -->
					<div class="box_search">
						<form action="{% url 'search' %}" method="GET" >
							<fieldset>
								<legend class="blind">검색하기</legend>
								<div class="search_area">
									<input type="text" class="input" placeholder="검색어를 입력해주세요." name="title">
									<button type="submit" class="btn_search"><span class="blind">검색</span></button>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="wrap_utils">
						{% if user.is_authenticated %}
						<button class="btn_util"><span class="ico_comm ico_sell"></span><a href="{% url 'pC' %}">판매하기</a></button>
						{% endif %}
					</div>
				</div>
			</div>
		</header>
		<main class="contents my_contents">
			<div class="w_inner">
				<div class="wrap_info_store">
					<div class="thumb_store">
						<span class="ico_store">
						</span>
						<strong class="name_store">{{user.last_name}}</strong>
						<div class="area_btn">
							<a href="#none" class="btn medium">내 상점 관리</a>
						</div>
					</div>
					<div class="info_store">
						<dl class="list_info">
						</dl>
					</div>
				</div>
				<div class="wrap_tab">
					<ul class="skip_nav">
						<li class="current"><a href="#skip_1">상품</a></li>
						<li><a href="#skip_2">찜</a></li>
					</ul>
				</div>
				<div class="skip_container">
					<!-- 상품 2 콘텐츠 영역 -->
					<div id="skip_1" class="skip_content active">
						<div class="wrap_tit">
							<div class="tit_txt">
								상품<span class="em stress">{{plist.count}}</span>
							</div>
							<div class="util_sorting">
								<select name="" id="" class="select">
									<option value="">전체</option>
								</select>
							</div>
						</div>
						<div class="area_sorting">
							<div class="tit_txt">
								전체<span class="em normal">{{plist.count}}개</span>
							</div>
						</div>
						<div class="wrap_prod">
							<!-- 상품 리스트 -->
							<table class="list_prod"><!-- for문  -->
								{% for pdata in plist %}
								<tr onclick="location.href='/shop/shopping/{{ pdata.pk }}/'">
									<td class="thumb_img">
										<img src="{{pdata.photo.url}}" alt="">
									</td>
									<td class="tit_prod">
										{{ pdata.title }}
									</td>
									<td class="price_prod">
										<em class="num_price">{{ pdata.price }}</em>원
									</td>
									<td class="date_prod">
										{{ pdata.created_at|date}}
									</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
					<!-- 찜 콘텐츠 영역 -->
					<div id="skip_2" class="skip_content">
						<div class="wrap_tit">
							<table class="list_prod"><!-- for문  -->
								{% for hdata in hlist %}
								<tr onclick="location.href='/shop/shopping/{{ hdata.pk }}/'">
									<td class="thumb_img">
										<img src="{{hdata.photo.url}}" alt="">
									</td>
									<td class="tit_prod">
										{{ hdata.title }}
									</td>
									<td class="price_prod">
										<em class="num_price">{{ hdata.price }}</em>원
									</td>
									<td class="date_prod">
										{{ hdata.created_at }}
									</td>
								</tr>
								{% endfor %}
							</table>
							<div class="tit_txt">
								찜<span class="em stress">1</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>